In [ ]:
# Confirming if the environment is ready and setup correctly
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("Environment ready")

âœ… Environment ready

In [ ]:
# **Load the dataset**

# Path to Dataset
DATA_PATH = "../data/netflix_titles.csv"

# Load CSV
df = pd.read_csv(DATA_PATH)

# Quick Peek
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [4]:
# Check the shape & column names
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])
print("\nColumn names:", df.columns.tolist())

Rows: 8807
Columns: 12

Column names: ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

In [5]:
# Inspect datatypes & null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
# **Basic data health checks**

# Check duplicates
dup_rows = df.duplicated().sum()

# Check if show_id is unique
dup_showid = df['show_id'].duplicated().sum()

# Count missing values by column
na_counts = df.isna().sum().sort_values(ascending=False)

dup_rows, dup_showid, na_counts.head(10)

(np.int64(0),
 np.int64(0),
 director        2634
 country          831
 cast             825
 date_added        10
 rating             4
 duration           3
 show_id            0
 type               0
 title              0
 release_year       0
 dtype: int64)

In [7]:
# Quick categorical exploration
print("Types of content:\n", df['type'].value_counts(dropna=False))
print("\nTop Ratings:\n", df['rating'].value_counts().head(10))

Types of content:
 type
Movie      6131
TV Show    2676
Name: count, dtype: int64

Top Ratings:
 rating
TV-MA    3207
TV-14    2160
TV-PG     863
R         799
PG-13     490
TV-Y7     334
TV-Y      307
PG        287
TV-G      220
NR         80
Name: count, dtype: int64