In [ ]:
# Environment Setup

import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

# Load cleaned dataset
df = pd.read_csv("../data/netflix_clean.csv")
plt.style.use("seaborn-v0_8")
sns.set_palette("Set2")

print("Environment Ready")

Environment Ready

In [3]:
# Titles added per year

titles_per_year = (
    df.groupby(["year_added", "type"])
    .size()
    .reset_index(name="count")
    .sort_values("year_added")
)

titles_per_year.head(10)

   year_added     type  count
0      2008.0    Movie      1
1      2008.0  TV Show      1
2      2009.0    Movie      2
3      2010.0    Movie      1
4      2011.0    Movie     13
5      2012.0    Movie      3
6      2013.0    Movie      6
7      2013.0  TV Show      5
8      2014.0    Movie     19
9      2014.0  TV Show      5